doctype html
html(lang="ru")
    head
        include includes/head
        include includes/variables
        title Главная
    body 
        include includes/header
        main 
        include includes/footer
        